.first-plan > div {
  background-color: rgb(27, 124, 157);
  padding: 20px;
}

.first-plan > div p:last-child {
  background-color: rgb(102, 196, 228);
  top: 30px;
  left: -70px;
  padding-left: 90px;
}

.second-plan > div {
  background-color: var(--primary-text-color);
  padding: 30px;
}

.second-plan > div p:last-child {
  background-color: red;
  top: 30px;
  left: -70px;
  padding-left: 90px;
}

.third-plan > div {
  background-color: rgb(45, 204, 112);
  padding: 20px;
}

.third-plan > div p:last-child {
  background-color: rgb(88, 238, 150);
  top: 30px;
  left: -70px;
}
