@import url("https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Ceviche+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap");

/* Global css variable */
:root {
  --primary-text-color: #c82333;
  --secondary-text-color: #06221c;
  --tetiary-text-color: #7f8c8d;
  --quatenary-text-color: #f5f0f0;
  --primary-gradient: linear-gradient(to right, #000000a6, #000000a6);
  --secondary-gradient: linear-gradient(to right, #00000088, #00000088);
  --primary-bg: #ffecee;
  --secondary-bg: #fff6f7;
  --tetiary-bg: #ffe0e3;
}

/* Css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

ul,
li {
  list-style-type: none;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  color: var(--secondary-text-color);
}

h3,
h4 {
  font-family: "Aguafina Script", sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 2px;
}

p,
span,
i,
button,
input::placeholder,
option,
input,
li,
ul {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.divider {
  height: 4px;
  background-color: var(--primary-text-color);
}

.divider-small {
  width: 50px;
}

.divider-medium {
  width: 90px;
}

.divider-large {
  width: 120px;
}

.divider-margin {
  margin-bottom: 20px;
}
